<footer class="site-footer">

  <div class="wrapper">

    <div class="social-footer">
      <a target="_blank" href="https://twitter.com/communitycodes"><div class="footer-icon"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
      <a target="_blank" href="https://facebook.com/communitycodes"><div class="footer-icon"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
      <a target="_blank" href="https://instagram.com/communitycodes"><div class="footer-icon"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
      <a target="_blank" href="https://meetup.com/communitycodes"><div class="footer-icon"><i class="fa fa-meetup" aria-hidden="true"></i></div></a>
    </div>

  </div>
  <div class="foot-back">
    <div class="foot">
      <span>Made with</span>
      <div class="heart">
        <div class="base"></div>
        <div class="top"></div>
      </div>
      <span>from SMTX</span>
    </div>
  </div>

</footer>
