<header class="site-header">

<div class="atmosphere">
  <div class="sun"></div>
</div>

<div class="sky">
  <div class="clouds clouds1">
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
  </div>

  <div class="clouds clouds2">
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
  </div>

  <div class="clouds clouds3">
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
  </div>

  <div class="clouds clouds4">
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
  </div>
</div>


  <div class="wrapper">

    <div class="logo">
      <img src="/css/logo.png" alt="Community Codes">
    </div>
    <div class="site-title"><h1>Community Codes</h1></div>
    <p>Free monthly tech workshops in San Marcos, TX!</p>

    <div class="land">
      <div class="mountain"></div><div class="mountain2"></div><div class="mountain3"></div>
    </div>

  </div>

</header>
